header {
    background-color: #808080;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 10px;
    
    font-weight: bold;
}

.header1 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.items {
    width: 180px;
    display: flex;
    justify-content: flex-end;
}

.header2 {
    display: flex;
    align-items: center;
}

.items2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items3 {
    width: 200px;
    display: flex;
}

.header4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
}

.right div {
    margin-right: 10px;
}

.left {
    display: flex;
}

.left div {
    margin-left: 10px;
}