header {
    width: 100%;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .container {
    display: flex;
}

img {
    display: flex;
    align-items: flex-start;
}

div {
    display: flex;
}

.menu {
    padding: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .container {
        width: 100%;
        flex-direction: column;
        background-color: pink;
        align-items: center;
    }
}
