<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title%></title>
    </head>
    <body>
        <h1>GET 요청</h1>
        <form action="/getForm" method="GET">
            <input
                type="text"
                name="id"
                placeholder="ID는 최소 3글자"
                required
                minlength="3"
            />
            <input
                type="password"
                name="pw"
                placeholder="PW는 최소 5글자"
                required
                minlength="5"
            />
            <input type="email" name="email" placeholder="email 은 필수값" />
            <input type="number" name="grade" placeholder="GRADE" />
            <button>제출</button>
        </form>

        <h1>POST 요청</h1>
        <form action="/postForm" method="POST">
            <input
                type="text"
                name="id"
                placeholder="ID"
                pattern="^([a-zA-Z0-9가-힣]){4,}$"
                title="아이디는 대소문자, 한글, 숫자로 구성된 4자 이상의 문자여야 합니다."
            />
            <input
                type="password"
                name="pw"
                placeholder="PW"
                pattern="^([a-z0-9]){8,12}$"
                title="비밀번호는 소문자와 숫자를 이용한 8자리 이상 12자리 이하여야 합니다."
            />
            <button>제출</button>
        </form>
    </body>
</html>
