<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>get으로 정보 받기</h1>
        <form action="/postForm" method="post">
            <label for="name"
                >이름
                <input type="text" name="name" />
            </label>
            <legend>
                성별
                <fieldset name="gender">
                    <input
                        name="gender"
                        value="male"
                        type="radio"
                        required
                    /><label for="male">남자</label>
                    <input
                        name="gender"
                        value="female"
                        type="radio"
                        required
                    /><label for="female">여자</label>
                </fieldset>
            </legend>
            <legend>
                생년월일
                <fieldset name="birth">
                    <select name="birth" id="year">
                        <% for(let i = 1990; i <= 2023; i++) { %>
                        <option><%= i %></option>
                        <% }%>
                    </select>
                    <span>년</span>
                    <select name="birth" id="month">
                        <% for(let i = 1; i <= 12; i++) { %>
                        <option><%= i %></option>
                        <% }%>
                    </select>
                    <span>월</span>
                    <select name="birth" id="day">
                        <% for(let i = 1; i <= 31; i++) { %>
                        <option><%= i %></option>
                        <% }%>
                    </select>
                    <span>일</span>
                </fieldset>
            </legend>
            <legend>
                관심사
                <fieldset name="hobby">
                    <label for="fish">
                        <input
                            name="hobby"
                            value="fish"
                            type="checkbox"
                        />낚시</label
                    >
                    <label for="cook">
                        <input
                            name="hobby"
                            value="cook"
                            type="checkbox"
                        />요리</label
                    >
                    <label for="song">
                        <input
                            name="hobby"
                            value="song"
                            type="checkbox"
                        />노래</label
                    >
                </fieldset>
            </legend>
            <legend>
                좋아하는 색
                <fieldset><input type="color" name="favColor" /></fieldset>
            </legend>
            <legend>
                좋아하는 시간
                <fieldset><input type="time" name="favTime" /></fieldset>
            </legend>
            <button>회원가입</button>
        </form>
    </body>
</html>
